[submodule "ThirdPartyTools/dscore"]
	path = ThirdPartyTools/dscore
	url = git@github.com:nryant/dscore.git
[submodule "ThirdPartyTools/pyannote-audio"]
	path = ThirdPartyTools/pyannote-audio
	url = https://github.com/pyannote/pyannote-audio.git
