[submodule "ThirdPartyTools/dscore"]
	path = ThirdPartyTools/dscore
	url = https://github.com/nryant/dscore.git
[submodule "ThirdPartyTools/pyannote-audio"]
	path = ThirdPartyTools/pyannote-audio
	url = https://github.com/pyannote/pyannote-audio.git
[submodule "ThirdPartyTools/mouth-open"]
	path = ThirdPartyTools/mouth-open
	url = https://github.com/mauckc/mouth-open.git
